---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
<head>
    {% include head.html %}
    {% include head/custom.html %}
</head>

<body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

{% include browser-upgrade.html %}
{% include masthead.html %}

<div class="page__hero--overlay" style="background-image: url('images/lp/unsplash-lp3.jpg');">
    <div class="wrapper" >
        <h1 style="margin-top: 0; color: #188DB1;">
            Device Lifecycle
        </h1>

        <p>
            Documentation, Blogs and Tutorials on the Device Lifecycle,<br>
            such as RPM management, ZTP & iPXE<br>
            <a href="{{ base_url }}tutorials/" class="btn btn--large"><i class='fa fa-step-forward'></i> Get Started!</a>
            <a href="{{ base_url }}blogs/" class="btn btn--large"><i class='fa fa-step-forward'></i> Blogs</a>
        </p>
    </div>
</div>

<div id="main" role="main">
    <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}

        <section class="page__content" itemprop="text">
            {{ content }}
        </section>
    </article>
</div>

<div class="page__footer">
    <footer>
        {% include footer.html %}
    </footer>
</div>

{% include scripts.html %}

</body>
</html>